@font-face {
    src: url('../fonts/Carme/Carme-Regular.ttf');
    font-family: 'Carme', sans-serif;
}

@font-face {
    src: url('../fonts/Adamina/Adamina-Regular.ttf');
    font-family: 'Adamina', serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.headers {
    font-family: 'Carme', sans-serif;
    color: #464243;
    @apply text-3xl subpixel-antialiased tracking-wide
}

.adamina {
    font-family: 'Adamina', serif;
}

.georgia {
    font-family: 'Georgia', serif;
}

.bottombar {
    background-color: #7F7F7F;
}

#tailwind_top_menu {
    display: none;

}

#tailwind_mobile_menu {
    display: flex;
    justify-content: space-between;
    /*flex: 1 1 0;*/
    flex-wrap: wrap;
    max-width: 12rem;
}

#tailwind_mobile_menu_2 {
    display: flex;
    justify-content: space-between;
    /*flex: 1 1 0;*/
    flex-wrap: wrap;
    max-width: 12rem;
    margin-top: 1rem;
}

#mobile_counter {
    margin: 0.5rem auto;
}

#about_us_header_image {
    background-position: 0 -600px;
}

.alert {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.025em;
    font-style: italic;
    font-weight: 500;
}

.alert-success {
    color: #38ff00;
}

@media only screen and (min-width: 960px) {
    #tailwind_top_menu {
        margin-bottom: 5rem;
    }
}

@media only screen and (min-width: 1300px) {
    #tailwind_mobile_menu {
        display: none;
    }

    #tailwind_mobile_menu_2 {
        display: none;
    }

    #tailwind_top_menu {
        display: flex;
        width: initial;
        align-items: center;
        margin-top: 2px;
    }
}

